
*{
    margin: 0;
    padding: 0;
    
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr .5fr 1.5fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.2fr 1fr 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main main side side"
    "c c c c"
    "skill skill skill skill"
    "skill1 skill1 skill2 skill2"
    "m m m m"
    "slider slider slider slider"
    
    "reason reason reason reason"
    "footer footer footer footer";
    grid-gap: 10px;

    font-family: 'Kanit', sans-serif;
}

.logo{
    display: flex;
    justify-content: space-between;
}
.logo h3{
    font-size: 2rem;
}
nav{
    grid-area: nav;
    font-weight: 600;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    animation: fadeInDown;
    animation-duration: 1.6s;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
}
h3{
    margin-left: 15px;
    margin-bottom: 7px;
    color: rgb(255, 255, 255);
    font-family: 'Yeseva One', cursive;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-link{
    padding: 5px 1rem;
    padding-top: 5px;
    border-radius: 50px;
    margin-bottom: 10px;
    transition: transform .5s;
}
.nav-link:hover{
    background-color: rgba(120, 201, 255, 0.123);
    cursor: pointer;
    
}
main{
    display: grid;
    background-color: #ffffff;
    grid-area: main;
}
.me{
    display: grid;
    grid-area: auto;
}
.me img{
   margin: auto;
   animation: bounceIn;
   animation-duration: 2s;

}

.side{
    grid-area: side;
    font-family: 'Kanit', sans-serif;
    margin-left: 55px;
    margin-right: 25px;
    
}
#header{
    border: 1px;
    margin: auto;
    animation: fadeInUp;
    animation-duration: 1.5s;
    
}
#header h1{
    font-size: 4rem;
    color:rgb(0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
}
h4{
    font-size: 50px;
}
#skill{
    grid-area: skill;
    margin: auto;
    color: #000;
    font-size: 1rem;
    align-content: center;
    border-radius: 50px;
    background:#fafafa;
    padding: 5px 1rem;
    margin-top: 20px;
}
#c{
    grid-area: c;
    background: rgb(255, 255, 255);
    padding: 0 50px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 1px solid #ffffff;
    background: #fafafa;
    width: 90%;
    text-align: center;
}

#c h6{
    font-size: 1.1rem;
    margin: auto;
}
.cd {
    display: inline-block;
    padding: 0.6rem;
    align-items: center;
    padding-top: 5px;
    margin: auto;
}
.cd span {
    display: block;
    font-size: 2rem;
    color: rgb(255, 133, 120);
}
#one{
    background-color: rgb(255, 133, 120) !important;

}
#two{
    background-color: rgb(255, 133, 120) !important;
}
#three{
    background-color:  rgb(255, 133, 120) !important;
}
#skill1{
   grid-area: skill1;
   margin: auto;
   height: 550px;
   
}
#skill2{
    grid-area: skill2;
    margin: auto;
    height: 550px;
    padding-left: 0;
    margin-top: 0;
}
.names.my-3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    
    max-width: 100%;
}

.text{
    display: grid;
    margin-left: 10px;
    height: 236px;
    width: 370px;
    grid-gap: 10px;
}
h5{
    align-items: center;
    font-size: 10px;
    
}
h5 > p{
    font-size: 14px;
    
}
.icon{
    display: grid;
    align-items: center;
    height: 236px;
    margin-right: 10px;
    grid-gap: 10px;
    
}
#m{
    grid-area: m;
    margin: auto;
    color: #000;
    font-size: 1rem;
    align-content: center;
    border-radius: 50px;
    background: #fafafa;
    padding: 5px 1rem;
}
.slider{
    grid-area: slider;
	max-width: 700px;
	border:10px solid  hsl(0, 0%, 100%);
	margin:10px auto;
	position: relative;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #b1b1b128;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}


.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(1);opacity: 0}
	50%{transform: scale(1);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0, 0, 0, 0);
line-height: 60px;
text-align: center;
color: #ffffff00;
font-size: 30px;

}

.slider .slider-items .item.active{
	display: block;
}

#m1 {
    grid-area: m1;
    background: rgb(255, 255, 255);
    padding: 10px;
    display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   margin: auto;
    
}
#m2 {
   grid-area: m2;
   background: rgb(255, 255, 255);
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   margin: auto;
   
}
#m2 p{
    margin: auto;
}
#m2 img{
    transition: 1s;
    transition: transform .5s;
    
    
}
#m2 img:hover{
    transform:scale(1.1);
    cursor: pointer;
}
#m1 img{
    transition: 1s;
    transition: transform .5s;
}
#m1 img:hover{
    transform:scale(1.1);
    cursor: pointer;
}
#m3 {
    grid-area: m3;
    background: rgb(255, 255, 255);
    padding: 10px;
    display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   margin: auto;
 }
 #m3 img{
     transition: 1s;
     transition: transform .5s;
     
     
 }
 #m3 img:hover{
     transform:scale(1.1);
     cursor: pointer;
 }
 #m4 {
    grid-area: m4;
    background: rgb(255, 255, 255);
    padding: 10px;
    display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   margin: auto;
 }
 #m4 img{
     transition: 1s;
     transition: transform .5s;
     
     
 }
 #m4 img:hover{
     transform:scale(1.1);
     cursor: pointer;
 }
 #m5 {
    grid-area: m5;
    background: rgb(255, 255, 255);
    padding: 10px;
    display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   margin: auto;

 }
 #m5 img{
     transition: 1s;
     transition: transform .5s;
     
     
 }
 #m5 img:hover{
     transform:scale(1.1);
     cursor: pointer;
 }
.reason{
    grid-area: reason;
    display: grid;
    padding: 20px;
    margin: 11px;
    border: 1px solid #fafafa;
    background: #fafafa;
    box-shadow: 0 0 5px 0 rgba(143, 132, 132, 0.164);
    transition: transform .5s;
}
#r{
    font-size: 1.5rem;
}
.reason rr{
    font-size: 1.2rem;
}
@media only screen and (max-width:1000px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "side"
        "c"
        "skill"
        "skill1"
        "skill2"
        "m"
        "slider"
        "reason"
        "footer";
    }
}

@media only screen and (max-width:1000px){
    .me > img{
         margin-left: 10px;
         margin-top: 30px;
        }
}
@media only screen and (max-width:1000px){
    #skill2 {
        margin: auto;

    }
    .me > img{
        margin: auto;
    }
    #header{
        margin: auto;
    }
    
    .names.my-3 {
        margin: auto;
    }
}
